*{
    /* border: 1px solid rgb(255, 0, 0); */
    font-family: 'Roboto';
}

body{
    overflow-x: hidden;
}

ion-icon {
    font-size: 30px; 
    margin-left: 10px;
}
footer {
    width: 100%;
    position: relative; 
    bottom: 0;
}
@media (max-height: 912px) {
    footer {
        position: fixed; 
    }
}
@media (min-height: 913px) {
    footer {
        position: relative;
        color: black; 
    }
}
.marcos{
    height: 500px;
}

a:hover{
    opacity: 0.6;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.headerAjust {
    margin: 6px 0;
    padding: 6px 0;
}
.card{
    margin: 0 30px 30px ;
    margin-bottom: 50px;
}
.noProducts::after{
    content: "(";
}
.nav-item{
    list-style: none;
}
.nav-list a{
    margin-top: 20px;
}
.dropdown-item:hover {
    text-decoration: underline;
}
.btn-group{
   width: 100%;
}
.profileIcon ion-icon{
    font-size: 200px;
    border: 1px solid grey;
}
.profileIcon{
    color:#007BFF;
}
.profileIcon:hover{
    cursor: pointer;
}
.horizontal-line {
    border-bottom: 1px solid #007BFF;
    margin-top: 20px;
    padding-left: 5px;
    border-left: 1px solid #007BFF;
}
  
.file{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 6px 20px
}

